@font-face {
    font-family: PixdorTwo;
    src: url(../assets/fonts/PixdorTwo.ttf);
}

@font-face {
    font-family: Flynnmomo;
    src: url(../assets/fonts/Flynnmono.ttf);
}

* {
    box-sizing: border-box;
    color: white;
}

html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Flynnmomo;
    /* background-image: url(../assets/images/bg.jpeg); */
}

main, header, footer {
    width: 100%;
    /* max-width: 1400px; */
    /* box-sizing: border-box; */
    margin: 0 auto;
    padding: 30px 3%;
}

h1 {
    font-family: PixdorTwo;
    font-size: 120px;
    font-weight: normal;
    margin: 0.5em 0;
}


p {
    font-family: PixdorTwo;
    font-size: 32px;
    margin: 0.5em 0;
}

#poster {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-position: 50%;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

#link-icon img {
    width: 30px;
    margin-right: 10px;
}

nav {
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: end;
    /* text-transform: uppercase; */
}

nav a {
    margin-left: 40px;
    padding: 5px 10px;
}

a {
    text-decoration: none;
}

nav a:hover {
    background-color: #4143c2;
    border-radius: 30px;
}

#goldsmiths-logo {
    width: 80px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 100px;
    }

    nav {
        display: none;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 72px;
    }

    p {
        font-size: 20px;
    }

    #nav-title {
        font-size: 12px;
        max-width: 80%;
    }
}