@font-face {
    font-family: PixdorTwo;
    src: url(../assets/fonts/PixdorTwo.ttf);
}

@font-face {
    font-family: Flynnmomo;
    src: url(../assets/fonts/Flynnmono.ttf);
}

* {
    box-sizing: border-box;
    color: white;
}

html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Flynnmomo;
}

main, header, footer {
    width: 100%;
    margin: 0 auto;
    padding: 30px 3%;
}

main {
    max-height: calc(100% - 100px);
    overflow: scroll;
}

.center {
    text-align: center;
}

.homepage {
    color: white;
}

.homepage .title {
    font-family: PixdorTwo;
    font-size: 120px;
    font-weight: normal;
    margin: 0.5em 0;
}


.homepage p {
    font-family: PixdorTwo;
    font-size: 32px;
    margin: 0.5em 0;
}

#poster {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-position: 50%;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

#link-icon img {
    width: 30px;
    margin-right: 10px;
}

nav {
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: end;
    /* text-transform: uppercase; */
}

nav a {
    margin-left: 10px;
    padding: 5px 10px;
    color: white;
}

a {
    text-decoration: none;
}

nav a:hover, nav a.active {
    background-color: #4143c2;
    border-radius: 30px;
}

#goldsmiths-logo {
    width: 80px;
}

.subpage-title {
    font-family: PixdorTwo;
}

.subpage.about p:not(#poem) {
    font-family: PixdorTwo;
    font-size: 24px;
    line-height: 1.3;
}

#poem {
    font-family: Flynnmomo;
    font-weight: 100;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
}

.nav-icon {
    width: 30px;
    height: 30px;
    display: none;
}

.coming-soon {
    font-family: PixdorTwo;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    margin-top: 60px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 100px;
    }

    nav {
        display: none;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 80px;
        align-items: flex-start;
        background-color: rgba(160, 160, 160, 0.9);
    }

    nav a {
        margin-bottom: 20px;
    }

    nav.show {
        display: flex;
    }

    .nav-icon#menu.show {
        display: block;
    }

    .nav-icon#close {
        display: none;
    }

    .nav-icon#close.show {
        display: block;
        z-index: 1;
    }

    #poem {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .homepage .title {
        font-size: 72px;
    }

    .homepage p {
        font-size: 20px;
    }

    #nav-title {
        font-size: 12px;
        max-width: 80%;
    }

    .subpage.about p:not(#poem) {
        font-size: 18px;
    }

    #poem {
        font-size: 12px;
    }

    .coming-soon {
        font-size: 36px;
    }

}

