@font-face {
    font-family: PixdorTwo;
    src: url(../assets/fonts/PixdorTwo.ttf);
}

@font-face {
    font-family: Flynnmomo;
    src: url(../assets/fonts/Flynnmono.ttf);
}

* {
    box-sizing: border-box;
    color: white;
}

html,
body {
    margin: 0;
    /* width: 100vw; */
    /* height: 100vh; */
    font-family: Flynnmomo;
    /* background-image: url(../assets/images/bg.jpeg); */
}

h1 {
    font-family: PixdorTwo;
    font-size: 120px;
    font-weight: normal;
    margin: 0.5em 0;
}


p {
    font-family: PixdorTwo;
    font-size: 32px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

#poster {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-position: 50%;
    background-size: cover;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    position: absolute;
}

header {
    display: flex;
    align-items: center;
    top: 0;
    padding: 30px;
    width: 100%;
    justify-content: space-between;
}

section {
    padding: 30px 40px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px;
}

footer img {
    width: 30px;
    margin-right: 10px;
}

nav {
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: end;
}

nav a {
    margin-left: 40px;
    padding: 5px 10px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #4143c2;
    border-radius: 30px;
    /* opacity: 0.8; */
}

#goldsmiths-logo {
    width: 80px;
}

@media (max-width: 1250px) {
    /* … */
}